{% extends 'base.html' %}

{% block content %}

<div class="page-content">
    <div class="site-heading">
    <h1 class="montserrat-name">Montserrat Pagan</h1>
    <h2> <span class="color-green">journalism</span> - <span class="color-green">comparative literature</span> - <span class="color-green">digital humanities</span> </h2>
    <h3> Sometimes <span class="color-green">Coder</span>! </h3>
    <h4>Find some of my favorite work below:</h4>
    </div>
    
    <ul id="portfolio-list"></ul>
</div>

{% endblock %}